.logo {
  display: block;
  margin: 0 auto;
}
.blue-container {
  background-color: #003061;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

/* body{
    background-color: #003061;

} */

@font-face {
  font-family: 'yarden'; 
  src: url('../assets/fonts/yarden-regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'yarden'; 
  src: url('../assets/fonts/yarden-bold.woff') format('woff');
  font-weight: bold;  
}
@font-face {
  font-family: 'JetBrainsMono'; 
  src: url('../assets/fonts/JetBrainsMono-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'JetBrainsMono'; 
  src: url('../assets/fonts/JetBrainsMono-Medium.ttf') format('ttf');
  font-weight: normal;
}

