#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;

}
div[data-overlay-container="true"] {
  width: 100%;
}

.myGlyphMarginClass::before {
  content: "🖊️";
}

@font-face {
  font-family: 'Bellefair'; 
  src: url('./assets/fonts/Bellefair-Regular.ttf') format('ttf');
  font-weight: normal;
  font-display: swap; 
}
